section{
    width: 1440px;
    height: 2960px;
    background: gray;
}
.btConfig{
    width: 74px;
    height: 76.08px;
    transform: translate(52.36px,83.33px);
}
.ttl{
    font-size: 100px;
    font-style: Arial;
    transform: translate(292px,100px);
}
.imgClassic{
    width: 1313px;
    height: 2161px;
    transform: translate(64px,160px);
    background:  #ADF3FF;
}
.txtInicio{
    font-size: 100px;
    font-style: Arial;
    transform: translate(520px,-1600px);
}
.btInicio{
    width: 240px;
    height: 240px;
    transform: translate(600px,-700px);
    border-radius: 50%;
    background: white;
}
.menu{
    width: 1440px;
    height: 243px;
    background: #61C3FF;
    transform: translate(0px,-340px);
}
.Home{
width: 148.67px;
height: 134.57px;
transform: translate(655px,40px);
}
.Rank{
    width: 148.67px;
    height: 134.57px;
transform: translate(100px,45px);
}
.Premio{
    width: 148.67px;
    height: 134.57px;
    transform: translate(760px,45px);
}
.Arrow{
    width: 150px;
    height: 150px;
    transform: translate(1200px,-1700px);
}
.Tarjeta{
    width: 518px;
    height: 518px;
    border-radius: 25%;
    font-size: 100px;
    color: gray;
    text-align: center;
}
.Estilo1{
background:#ADF3FF;
}
.Estilo2{
background: white;
}
.Juego{
    transform:translate(180px,400px) ;
}
.cerrarJuego{
    width: 400px;
    height: 400px;
    transform: translate(510px,850px);
}
#txtLevelClassic{
    font-size: 100px;
    font-style: Arial;
    transform: translate(501px,280px);
}
.Level{
    width: 545px;
    height: 545px;
    border-radius: 50%;
    background: white;
    color: gray;
    text-align: center;
    font-size: 250px;
    
    
}
.level1{
    transform: translate(134px,400px);
}
.level2{
    transform: translate(800px,-150px);
}
.level3{
    transform: translate(460px,-150px);
}
.level4{
    transform: translate(800px,-150px);
}
.level5{
    transform: translate(134px,-680px);
}
#txtLevelTimed{
    transform: translate(564px,362px);
    font-size: 100px;
    font-style: Arial;
}
.menuNiveles{
    width: 1440px;
    height: 243px;
    background: #61C3FF;
    transform: translate(0px,-590px);
}
#timedNivel1{
    font-size: 100px;
    font-style: Arial;
    transform: translate(598px,318px);
}
.Juego2{
    transform: translate(250px,200px);
}
.Tarjeta2{
    width: 450px;
    height: 450px;
    border-radius: 25%;
    font-size: 100px;
    color: gray;
    text-align: center;
}
.cerrarJuego2{
    width: 400px;
    height: 400px;
    transform: translate(500px, 250px);
}
.timedNivel2{
    font-size: 100px;
    font-style: Arial;
    transform: translate(598px,100px);

}