body{
    margin:0px;
    border:0px;
    padding: 0px; 
}
section{
    width: 410px;
    height: 820px;
    background: gray;
    text-align: center;
    position: relative;
}
.titulo{
    position: absolute;
    width: 410px;
    height:30px ;
    top:10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.imgclassic{
    position:absolute;
    width: 350px;
    height: 550px;
    right: 30px;
    left: 30px;
    top: 140px;
    background:  #ADF3FF;
}
.btinicio{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 450px;
    left: 175px;
    border-radius: 50%;
}
.txtinicio{
    position: absolute;
    font-size: 35px;
    font-style: Arial;
    top: 200px;
    left: 125px;
}
.txttimed{
    position: absolute;
    font-size: 35px;
    font-style: Arial;
    top: 200px;
    right: 0px;
    left: 4px;
}

.menu{
    position: absolute;
    width: 410px;
    height: 70px;
    background: #61C3FF;
    top:749px;
}
.home{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 10px;
    left: 184px;
}
.rank{
    opacity: 0.2;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 11px;
    left: 66px;
}
.premio{
    opacity: 0.2;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 298px;
}
.arrowclasico{
    height: 30px;
    position: relative;
    top: 371px;
    left: 149px;
    width: 40px;
}
.arrowtimed{
    height: 30px;
    position: relative;
    top: 371px;
    width: 40px;
    left: -149px;
}

.Tarjeta{
    width: 518px;
    height: 518px;
    border-radius: 25%;
    font-size: 100px;
    color: gray;
    text-align: center;
}
.Estilo1{
background:#ADF3FF;
}
.Estilo2{
background: white;
}
.Juego{
    transform:translate(180px,400px) ;
}
.cerrarJuego{
    width: 400px;
    height: 400px;
    transform: translate(510px,850px);
}
#txtLevelClassic{
    font-size: 100px;
    font-style: Arial;
    transform: translate(501px,280px);
}
.Level{
    width: 545px;
    height: 545px;
    border-radius: 50%;
    background: white;
    color: gray;
    text-align: center;
    font-size: 250px;
    
    
}
.level1{
    transform: translate(134px,400px);
}
.level2{
    transform: translate(800px,-150px);
}
.level3{
    transform: translate(460px,-150px);
}
.level4{
    transform: translate(800px,-150px);
}
.level5{
    transform: translate(134px,-680px);
}
#txtLevelTimed{
    transform: translate(564px,362px);
    font-size: 100px;
    font-style: Arial;
}
.menuNiveles{
    width: 1440px;
    height: 243px;
    background: #61C3FF;
    transform: translate(0px,-590px);
}
#timedNivel1{
    font-size: 100px;
    font-style: Arial;
    transform: translate(598px,318px);
}
.Juego2{
    transform: translate(250px,200px);
}
.Tarjeta2{
    width: 450px;
    height: 450px;
    border-radius: 25%;
    font-size: 100px;
    color: gray;
    text-align: center;
}
.cerrarJuego2{
    width: 400px;
    height: 400px;
    transform: translate(500px, 250px);
}
.timedNivel2{
    font-size: 100px;
    font-style: Arial;
    transform: translate(598px,100px);

}